.menu-div {
  display: flex;
  justify-content: center;
  margin: 20px;
  position: relative;
  top: -10px;
}

.menu-div .link {
  color: #959191;
  margin: 5px;
  text-decoration: none;
}

.menu-div .link:hover {
  color: black;
}
