.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

main span {
  color: red;
  margin: 5px;
}

@media (max-width: 1440px) {
  main {
    min-height: 592px;
  }

  main span {
    font-size: 25px;
  }

  main .content {
    border-radius: 20px;
    height: 550px;
    width: 1000px;
  }

  .content .theme-button {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 48%;
    margin-right: 52%;
    position: relative;
  }
}

@media (max-width: 1024px) {
  main {
    min-height: 592px;
  }

  main span {
    font-size: 25px;
  }

  main .content {
    border-radius: 20px;
    height: 550px;
    width: 800px;
  }

  .content .theme-button {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 48%;
    margin-right: 52%;
    position: relative;
  }
}

@media (max-width: 768px) {
  main {
    min-height: 592px;
  }

  main span {
    font-size: 25px;
  }

  main .content {
    border-radius: 20px;
    height: 550px;
    width: 660px;
  }

  .content .theme-button {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 46%;
    margin-right: 54%;
    position: relative;
  }
}

@media (max-width: 425px) {
  main {
    min-height: 592px;
  }

  main span {
    font-size: 25px;
  }

  main .content {
    border-radius: 20px;
    height: 800px;
    width: 425px;
  }

  .content .theme-button {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 46%;
    margin-right: 54%;
    position: relative;
  }
}
