.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

main span {
  color: red;
  margin: 5px;
}

@media (max-width: 1444px) {
  main span {
    font-size: 25px;
  }

  .menu-button-div {
    visibility: hidden;
  }
}

@media (max-width: 1024px) {
  main span {
    font-size: 20px;
  }

  .menu-button-div {
    margin: 5px;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  main {
    width: 425px;
  }

  main span {
    font-size: 20px;
  }

  .menu-button-div {
    margin: 5px;
    visibility: visible;
  }
}

@media (max-width: 425px) {
  main {
    width: 425px;
  }

  main span {
    font-size: 40px;
  }
}
