.menu-languages .menu-languages-button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  margin: 2px;
  position: relative;
  top: -10px;
}

.menu-languages-button .menu-languages-flag {
  border: 1px solid transparent;
  margin: -8px;
  width: 32px;
}

.menu-languages-button .menu-languages-flag:hover {
}

@media (max-width: 1440px) {
  .menu-languages-button .menu-languages-flag {
    filter: grayscale(100%);
    width: 50px;
    position: relative;
    top: -70px;
  }

  .menu-languages-flag.active {
    filter: none;
  }
}

@media (max-width: 1280px) {
  .menu-languages-button .menu-languages-flag {
    width: 50px;
    position: relative;
    top: -120px;
  }
}

@media (max-width: 834px) {
  .menu-languages-button .menu-languages-flag {
    width: 50px;
    position: relative;
    top: -260px;
  }
}

@media (max-width: 768px) {
  .menu-languages-button .menu-languages-flag {
    width: 50px;
    position: relative;
    top: -110px;
  }
}

@media (max-width: 414px) {
  .menu-languages-button .menu-languages-flag {
    width: 50px;
    position: relative;
    top: -100px;
  }
}

@media (max-width: 390px) {
  .menu-languages-button .menu-languages-flag {
    width: 32px;
    position: relative;
    top: -10px;
  }
}

@media (max-width: 360px) {
  .menu-languages-button .menu-languages-flag {
    width: 32px;
    position: relative;
    top: -90px;
  }
}
