.menu-languages .menu-languages-button {
  background-color: transparent;
  border: 0;
}

.menu-languages-button .menu-languages-flag {
  width: 38px;
}

.menu-languages-button .menu-languages-flag:hover {
}
