@font-face {
  font-family: Antic;
  src: local(Antic), url(../../data/fonts/Antic-Regular.ttf);
}

.profile-div {
  display: flex;
}

@media (max-width: 1440px) {
  .terminal-div .text-terminal {
    color: grey;
    font-size: 32px;
    left: 10px;
    position: absolute;
    top: 10px;
  }

  .terminal-div .root,
  .hashtag {
    color: #458290;
    font-size: 32px;
    position: relative;
    top: 0px;
  }

  .terminal-div .user {
    color: #93418a;
    font-size: 32px;
    position: relative;
    top: 0px;
  }

  .terminal-div .cursor {
    animation: animate 1.2s linear infinite;
    color: grey;
    font-size: 32px;
    position: relative;
    top: 0;
  }

  @keyframes animate {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }
}

@media (max-width: 1280px) {
  .terminal-div .text-terminal {
    color: grey;
    font-size: 32px;
    left: 10px;
    position: absolute;
    top: 10px;
  }

  .terminal-div .root,
  .hashtag {
    color: #458290;
    font-size: 32px;
    position: relative;
    top: 0px;
  }

  .terminal-div .user {
    color: #93418a;
    font-size: 32px;
    position: relative;
    top: 0px;
  }

  .terminal-div .cursor {
    animation: animate 1.2s linear infinite;
    color: grey;
    font-size: 32px;
    position: relative;
    top: 0;
  }

  @keyframes animate {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }
}

@media (max-width: 834px) {
  .terminal-div .text-terminal {
    color: grey;
    font-size: 32px;
    left: 10px;
    position: absolute;
    top: 10px;
  }

  .terminal-div .root,
  .hashtag {
    color: #458290;
    font-size: 32px;
    position: relative;
    top: 0px;
  }

  .terminal-div .user {
    color: #93418a;
    font-size: 32px;
    position: relative;
    top: 0px;
  }

  .terminal-div .cursor {
    animation: animate 1.2s linear infinite;
    color: grey;
    font-size: 32px;
    position: relative;
    top: 0;
  }

  @keyframes animate {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }
}

@media (max-width: 768px) {
  .terminal-div .text-terminal {
    color: grey;
    font-size: 32px;
    left: 10px;
    position: absolute;
    top: 10px;
  }

  .terminal-div .root,
  .hashtag {
    color: #458290;
    font-size: 32px;
    position: relative;
    top: 0px;
  }

  .terminal-div .user {
    color: #93418a;
    font-size: 32px;
    position: relative;
    top: 0px;
  }

  .terminal-div .cursor {
    animation: animate 1.2s linear infinite;
    color: grey;
    font-size: 32px;
    position: relative;
    top: 0;
  }

  @keyframes animate {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }
}

@media (max-width: 414px) {
  .terminal-div .text-terminal {
    font-size: 18px;
    left: 10px;
    top: 30px;
  }

  .terminal-div .root,
  .hashtag {
    font-size: 18px;
    top: 0px;
  }

  .terminal-div .user {
    font-size: 18px;
    top: 0px;
  }

  .terminal-div .cursor {
    font-size: 18px;
    top: 0;
  }
}

@media (max-width: 390px) {
  .terminal-div .text-terminal {
    font-size: 18px;
    left: 10px;
    top: 30px;
  }

  .terminal-div .root,
  .hashtag {
    font-size: 18px;
    top: 0px;
  }

  .terminal-div .user {
    font-size: 18px;
    top: 0px;
  }

  .terminal-div .cursor {
    font-size: 18px;
    top: 0;
  }
}

@media (max-width: 360px) {
  .terminal-div .text-terminal {
    font-size: 14px;
    left: 10px;
    top: 30px;
  }

  .terminal-div .root,
  .hashtag {
    font-size: 14px;
    top: 0px;
  }

  .terminal-div .user {
    font-size: 14px;
    top: 0px;
  }

  .terminal-div .cursor {
    font-size: 14px;
    top: 0;
  }
}
