@font-face {
  font-family: Antic;
  src: local(Antic), url(../../data/fonts/Antic-Regular.ttf);
}

.profile-div {
  display: flex;
}

@media (max-width: 1444px) {
  .profile-screen-div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .profile-div {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .profile-div .about-me-div {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
    width: 200px;
  }

  .about-me-div .welcome-text {
    color: #1d3971;
    font-family: Antic;
    font-size: 50px;
    margin-left: 10px;
  }

  .profile-image-div .profile-image {
    border-radius: 130px 0 0 130px;
    height: 350px;
    position: relative;
  }

  .profile-screen-div .text-div {
    padding: 10px;
    width: 600px;
  }

  .text-div .about-me-text {
    color: #525050;
    font-family: Antic;
    font-size: 36px;
  }
}

@media (max-width: 1024px) {
  .profile-screen-div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .profile-div {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .profile-div .about-me-div {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: center;
    width: 200px;
  }

  .about-me-div .welcome-text {
    color: #1d3971;
    font-family: Antic;
    font-size: 50px;
    margin-left: 10px;
  }

  .profile-image-div .profile-image {
    border-radius: 130px 0 0 130px;
    height: 350px;
    position: relative;
  }

  .profile-screen-div .text-div {
    padding: 10px;
    width: 600px;
  }

  .text-div .about-me-text {
    color: #525050;
    font-family: Antic;
    font-size: 36px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 424px) {
  .profile-div .about-me-div {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: center;
    width: 200px;
  }

  .about-me-div .welcome-text {
    color: #1d3971;
    font-family: Antic;
    font-size: 32px;
  }

  .profile-image-div .profile-image {
    border-radius: 130px 0 0 130px;
    height: 350px;
    right: -160px;
    position: absolute;
  }

  .profile-screen-div .text-div {
    padding: 10px;
  }

  .text-div .about-me-text {
    color: #525050;
    font-family: Antic;
    font-size: 22px;
  }
}
