@font-face {
  font-family: Antic;
  src: local(Antic), url(../../data/fonts/Antic-Regular.ttf);
}

.profile-div {
  display: flex;
}

@media (max-width: 1440px) {
  .terminal-div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .profile-div {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .profile-div .about-me-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    width: 50%;
  }

  .about-me-div .welcome-text {
    color: #8151ff;
    font-family: Antic;
    font-size: 26px;
    left: -20px;
    width: 150px;
    position: relative;
    top: -130px;
  }

  .about-me-div p {
    font-size: 22px;
    left: 55px;
    position: relative;
    width: 300px;
    top: -170px;
  }

  .profile-image-div .profile-image {
    border-radius: 100px 0 0 100px;
    height: 190px;
    position: relative;
    top: -100px;
  }

  .terminal-div .text-div {
    padding: 5px;
    width: 700px;
  }

  .text-div {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .text-div .about-me-text {
    color: #959191;
    font-family: Antic;
    font-size: 24px;
    width: 500px;
    position: relative;
    top: -220px;
  }
}

@media (max-width: 1280px) {
  .terminal-div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .profile-div {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .profile-div .about-me-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    width: 50%;
  }

  .about-me-div .welcome-text {
    color: #8151ff;
    font-family: Antic;
    font-size: 26px;
    left: -20px;
    width: 150px;
    position: relative;
    top: -80px;
  }

  .about-me-div p {
    font-size: 22px;
    left: 55px;
    position: relative;
    width: 300px;
    top: -120px;
  }

  .profile-image-div .profile-image {
    border-radius: 100px 0 0 100px;
    height: 190px;
    position: relative;
    top: -50px;
  }

  .terminal-div .text-div {
    padding: 5px;
    width: 700px;
  }

  .text-div {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .text-div .about-me-text {
    color: #959191;
    font-family: Antic;
    font-size: 24px;
    width: 500px;
    position: relative;
    top: -150px;
  }
}

@media (max-width: 834px) {
  .terminal-div {
    display: flex;
    flex-direction: column;
  }

  .profile-div {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .profile-div .about-me-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    width: 50%;
  }

  .about-me-div .welcome-text {
    color: #8151ff;
    font-family: Antic;
    font-size: 28px;
    left: -20px;
    width: 150px;
    position: relative;
    top: 10px;
  }

  .about-me-div p {
    font-size: 26px;
    left: 55px;
    position: relative;
    width: 300px;
    top: -30px;
  }

  .profile-image-div .profile-image {
    border-radius: 100px 0 0 100px;
    height: 250px;
    position: relative;
  }

  .terminal-div .text-div {
    padding: 5px;
    width: 700px;
  }

  .text-div {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .text-div .about-me-text {
    color: #959191;
    font-family: Antic;
    font-size: 24px;
    width: 500px;
    position: relative;
  }
}

@media (max-width: 768px) {
  .terminal-div .text-terminal {
    color: grey;
    font-size: 32px;
    left: 10px;
    position: absolute;
    top: 10px;
  }

  .terminal-div .root,
  .hashtag {
    color: #458290;
    font-size: 32px;
    position: relative;
    top: 0px;
  }

  .terminal-div .user {
    color: #93418a;
    font-size: 32px;
    position: relative;
    top: 0px;
  }

  .terminal-div .cursor {
    animation: animate 1.2s linear infinite;
    color: grey;
    font-size: 32px;
    position: relative;
    top: 0;
  }

  @keyframes animate {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }
}

@media (max-width: 414px) {
  .terminal-div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .profile-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .profile-div .about-me-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    width: 50%;
  }

  .about-me-div .welcome-text {
    color: #8151ff;
    font-family: Antic;
    font-size: 26px;
    left: -10px;
    width: 150px;
    position: relative;
    top: -35px;
  }

  .about-me-div p {
    font-size: 22px;
    left: 65px;
    position: relative;
    width: 300px;
    top: -70px;
  }

  .profile-image-div .profile-image {
    border-radius: 100px 0 0 100px;
    height: 220px;
    position: relative;
    right: -80px;
  }

  .terminal-div .text-div {
    padding: 5px;
    width: 700px;
  }

  .text-div {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .text-div .about-me-text {
    color: #959191;
    font-family: Antic;
    font-size: 24px;
    width: 350px;
    position: relative;
    top: -100px;
  }
}

@media (max-width: 390px) {
  .terminal-div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .profile-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .profile-div .about-me-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    width: 50%;
  }

  .about-me-div .welcome-text {
    color: #8151ff;
    font-family: Antic;
    font-size: 26px;
    left: 50px;
    width: 150px;
    position: relative;
    top: -35px;
  }

  .about-me-div p {
    font-size: 22px;
    left: 70px;
    position: relative;
    width: 200px;
    top: -70px;
  }

  .profile-image-div .profile-image {
    border-radius: 100px 0 0 100px;
    filter: drop-shadow(10px 10px 10px gray);
    height: 240px;
    position: relative;
    right: -100px;
  }

  .terminal-div .text-div {
    padding: 5px;
    width: 700px;
  }

  .text-div {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .text-div .about-me-text {
    color: #959191;
    font-family: Antic;
    font-size: 24px;
    width: 320px;
    position: relative;
    top: -50px;
  }
}

@media (max-width: 360px) {
  .terminal-div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .profile-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .profile-div .about-me-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    width: 50%;
  }

  .about-me-div .welcome-text {
    color: #8151ff;
    font-family: Antic;
    font-size: 26px;
    left: 50px;
    width: 150px;
    position: relative;
    top: -35px;
  }

  .about-me-div p {
    font-size: 22px;
    left: 70px;
    position: relative;
    width: 200px;
    top: -70px;
  }

  .profile-image-div .profile-image {
    border-radius: 100px 0 0 100px;
    height: 300px;
    position: relative;
    right: -80px;
    top: -50px;
  }

  .terminal-div .text-div {
    padding: 5px;
    width: 700px;
  }

  .text-div {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .text-div .about-me-text {
    color: #959191;
    font-family: Antic;
    font-size: 24px;
    width: 300px;
    position: relative;
    top: -80px;
  }
}
